rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Turn off all external access to database
    // All access is done through functions, which restrict access to
    // provided IDs
    match /{document=**} {
      allow read, write: if false;
    }
  }
}